body {
  font-family: sans-serif;
  margin: 0;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-top: 50px;
  
  gap: 0px;
  height: 100%;
}
.post {
margin-bottom: 10px;
}

section {
  border: 1px solid #ccc;
  border-radius: 8px; 
  padding: 20px;
}

ul {
  border: 1px solid #ccc; 
  border-radius: 8px;
  padding: 20px;
  grid-column: 1; 
    padding: 20px;
    border: 1px solid #ccc;
}

li {
  border: 1px solid #ccc; 
  border-radius: 8px; 
  padding: 20px;
  grid-column: 2;
  grid-row: 2fr;
  position: relative; 
    padding-bottom: 100px;
    border: 1px solid #ccc;
}

nav.navBar {
  margin-top: auto;
  text-align: right;
  background-color: lightblue;
}

article {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
}

.Contacts {
  padding: 20px;
  border: 1px solid #ccc;
  position: absolute; /* Use absolute positioning */
  top: 0; /* Place the contacts at the top */
  right: 0; /* Place the contacts at the right */
}











